.about-container{
    min-height: 100vh;
}

.about-container h1, .about-container p{
    padding: 20px;
}

.about-container img{
    max-width: 100%;
}

.about-dark{
    background-color: black;
    border-top: solid 1px gray;
    color:white;
  }